[project]
	description = A tiny IRC bot written in Haskell
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anatoly Zelenin (az)
[access "refs/for/refs/*"]
	read = group user/Anatoly Zelenin (az)
	push = group user/Anatoly Zelenin (az)
	label-Code-Review = -2..+2 group user/Anatoly Zelenin (az)
	label-Verified = -1..+1 group user/Anatoly Zelenin (az)
	rebase = group user/Anatoly Zelenin (az)
	removeReviewer = group user/Anatoly Zelenin (az)
	submit = group user/Anatoly Zelenin (az)
[access "refs/heads/*"]
	read = group user/Anatoly Zelenin (az)
	create = group user/Anatoly Zelenin (az)
	push = +force group user/Anatoly Zelenin (az)
	pushMerge = group user/Anatoly Zelenin (az)
[access "refs/tags/*"]
	push = +force group user/Anatoly Zelenin (az)
	pushTag = group user/Anatoly Zelenin (az)
	pushSignedTag = group user/Anatoly Zelenin (az)
